---
// data imports
import education from "@/data/education.ts";
import languages from "../data/languages.ts";

// component imports
import EduDetail from "./EduDetail.astro";
---

<div class="relative flex flex-col gap-8 text-n700 dark:text-n200 w-full mt-10">
  {/*Education section*/}
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">Education</h2>
    <div class="flex flex-col gap-6">
      {education.map((edu) => <EduDetail eduData={edu} />)}
    </div>
  </div>

  {/*Languages section*/}
  <div class="mb-4">
    <h2 class="text-2xl font-bold mb-4">Languages</h2>
    <div class="flex flex-col gap-2">
      {
        languages.map((lang) =>
          lang.show ? (
            <p>
              {lang.name} - {lang.level}
            </p>
          ) : null
        )
      }
    </div>
  </div>
</div>
